
    <div class="container">
          <div class="header">
           <div class="menu"></div>
<!--
            <div id="slider">
                <figure>
                     <img class="mySlides" src="image/footer-background1.jpg" alt="">
                </figure>
            </div>
-->
             <div class="account">
                <div>
                     <a routerLink="/sign-up" class="c">Create account</a>
                     <a routerLink="/sign-in">Sign in</a>
                 </div>
             </div>
             <div>
                <input type="checkbox" id="slide" name="" value="" class="hidden"/>
                   <div class="con">
                   <label for="slide" class="toggle">
                    <div class="nav">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                     </div>
                   </label>
                  <div class="sidebar"> 
                        <a href="index.html"> Home </a>
                        <a href="#"> Charts </a>
                        <a href="#"> Blogs </a>
                        <a href="about.html"> About us </a>
                        <a href="contact.html"> Contact us </a>
                  </div>  
                  <div class="maintext">
                    <div id="continput">
                        <div id="input-group">
                           <form action="">
                                <input type="text" id="searchtext" placeholder="Search...">
                                <button id="icon-src"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <a href="">Upload</a>
                    </div>
                 </div>
               </div>          
             </div>
         </div>
         <div class="bottom">
            <div class="upload">
               <div class="guide">
                <div><h2>Three step to Upload your track</h2></div>
                <div><h4>Create an account to get started</h4></div>
                <div class="step">
                    <div class="s">
                        <div><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                        <h3>Create your account</h3>
                        <p>Join with us to connect the world</p>
                    </div>
                    <div class="s">
                        <div><i class="fa fa-music" aria-hidden="true"></i></div>
                        <h3>Upload your tracks</h3>
                        <p>Enjoy 3 hours of space for your uploads, enough for multiple albums</p>
                    </div>
                    <div class="s">
                        <div><i class="fa fa-share-square-o" aria-hidden="true"></i></div>
                        <h3>Share your tracks</h3>
                        <p>Easily share music on Facebook, Twitter, Tumblr, and the entire web</p>
                    </div>
                </div>
                <div class="btn">
                    <div class="account">

                         <a routerLink="/sign-up" class="c" id="c" >Create account</a>
                         <a routerLink="/sign-in" class="c" id="s" >Sign in</a>
                     </div>
                </div>
                <div class="look"><h5>Looking for the best analytics and unlimited uploads? <a href="">Check out your account</a></h5></div>
            </div>
            <div class="im">
                <p>Important: By sharing, you confirm that your sounds comply with our Terms of use and you don’t infringe anyone else’s rights. If in doubt, check our Copyright information pages and FAQs before uploading.</p>
                <p>Problems uploading? Please <a href="contact.html">contact us</a></p>
                <p>What types of files can I upload? You can upload AIFF, WAVE (WAV), FLAC, ALAC, OGG, MP2, MP3, AAC, AMR, and WMA files. The maximum file size is 5GB.</p>
            </div>
        </div>      
         </div>
         <div class="footer">
             <div class="social">
              <p class="site"><u>Site map</u></p>
              <div class="sitemap">
                  <a routerLink="/discover">Home</a>
                  <a href="about.html">About us</a>
                  <a href="contact.html">Contact us</a>
                  <a href="">Blogs</a>
                  <a href="">Charts</a>
                  <a href="">Sign in</a>
              </div>
               <div class="both">
                <a href="https://www.facebook.com/quocvo.it"><div class="icon facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></div></a>
                <a href="#"><div class="icon twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></div></a>
                <a href="https://www.instagram.com/empty_0509/"><div class="icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
                </div>
                <p>@2017 VNQ Design & Development</p>
            </div>
        </div>
    </div>