

<div class="container">
        <div class="header">
        <div class="menu"></div>
<!--
        <div id="slider">
            <figure>
                    <img class="mySlides" src="image/footer-background1.jpg" alt="">
            </figure>
        </div>
-->

            <div>
            <input type="checkbox" id="slide" name="" value="" class="hidden"/>
                <div class="con">
                <label for="slide" class="toggle">
                <div class="nav">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                    </div>
                </label>
                <div class="sidebar"> 
                    <a href="index.html"> Home </a>
                    <a href="#"> Charts </a>
                    <a href="#"> Blogs </a>
                    <a href="about.html"> About us </a>
                    <a href="contact.html"> Contact us </a>
                </div>  
                <div class="maintext">
                <div id="continput">
                    <div id="input-group">
                        <form action="">
                            <input type="text" id="searchtext" placeholder="Search...">
                            <button id="icon-src"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <a href="upload-2.html">Upload</a>
                </div>
                </div>
            </div>          
            </div>
        </div>
        <div class="bottom">
        <div class="profile">
            <div class="profile-image">
                <div class="p-img">
                    <img id="imageSong" src="image/acc.jpg" alt="">
                    <span onclick="uploadImage()"><i class="fa fa-picture-o" aria-hidden="true"></i> Update Image</span>
                    <input type="file" name="image" id="upimage" onchange="readURL(this);" accept="image/jpeg, image/png, image/jpg" hidden/>
                </div>
                <div class="change-work">
                    <span id="pro-select" class="work-select" onclick="changeprofile()">Profile</span>
                    <span id="track-select" onclick="changetrack()">Track</span>
                </div>
            </div>
            <div class="profile-info">
                <div id="f-profile" class="work f-profile">
                    <p class="title-profile">Profile</p>
                    
                    <div class="pro" id="sig-cre">
            <form id="signin"
                action="<%=request.getContextPath()%>/UserController" method="post">
                
                
                
            
                <div class="cs">
                    <input type="hidden" name="hidAction" value="update">

                
                
                
                    <input type="hidden" name="username"
                        value="<%=currentUser.getUsername()%>"> <input
                        type="hidden" name="id" value="<%=currentUser.getId()%>">
                    <input type="hidden" name="password"
                        value="<%=currentUser.getPassword()%>"> <input
                        type="hidden" name="repassword"
                        value="<%=currentUser.getPassword()%>"><input
                        type="hidden" name="avatar"
                        value="">
                    <label for="email">Email</label> <input type="text"
                        name="username" value="<%=currentUser.getUsername()%>" disabled>
                    <label for="fn">Full Name <font color=red>* </font>
                    </label> <input type="text" name="fullname"
                        value="<%=currentUser.getFullname()%>"> <label for="date">Date
                        Of Birth</label> <input type="text" id="datepicker" name="date"
                        value="<%=currentUser.getDate()%>"> <label for="date">Gender</label>
                    <select name="gender"><option
                            value="<%=currentUser.getGender()%>">
                        
                        </option>
                        <option value="Famale">Famale</option>
                        <option value="Male">Male</option>
                        <option value="No">LGBT</option></select><br> <br> <label
                        for="phone">Phone Number</label><input type="text" name="phone"
                        value="<%=currentUser.getPhoneNumber()%>" placeholder="Bỏ trống">
                

                    <label for="address">Address</label> <input type="text"
                        name="address" value="<%=currentUser.getAddress()%>"
                        placeholder="Bỏ trống">
                    

                    <button type="submit">Update</button>
                </div>
                
            </form>
        </div>
                </div>
                <div id="f-track" class="work f-track">
                    <p>Track</p>
                    <div class="all-uptrack">
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                        <div class="single-track">
                            <img src="assets/images/2.jpg" alt="">
                            <button><i class="fa fa-play" aria-hidden="true"></i></button>
                            <a>Closer</a>
                            <br>
                            <span>The Chainsmokers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer">
            <div class="social">
            <p class="site"><u>Site map</u></p>
            <div class="sitemap">
                <a routerLink="/discover">Home</a>
                <a href="about.html">About us</a>
                <a href="contact.html">Contact us</a>
                <a href="">Blogs</a>
                <a href="">Charts</a>
                <a routerLink="/sign-in">Sign in</a>
            </div>
            <div class="both">
            <a href="https://www.facebook.com/quocvo.it"><div class="icon facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></div></a>
            <a href="#"><div class="icon twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></div></a>
            <a href="https://www.instagram.com/empty_0509/"><div class="icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
            </div>
            <p>@2017 VNQ Design & Development</p>
        </div>
    </div>
</div>
